.fime{
    position: absolute;
    top: 100px;
    width: 100%;
    height: auto;  
    img{
        width: 100%;
        height: auto;
        border-top: 1px solid #E34C58;
    } 
    .qcs-jz{
        
        
        .Celebration{
            ul{
                display: flex;
                
            }
        }
        .envelopes{
            ul{
                display: flex;
                overflow: hidden;
                li{
                    img{
                        border: none;
                    }
                }
                
            }
        }
    }
    .Moving{
        
        .Moving-title{
                color: #000;
                font-size: 20px; 
                display: flex;  
                
                .haoduo{
                    margin-left:26%; 
                } 
        }
    }
    .go-shop{
        margin-top: 10px;
        background:#190C13 ;
        .narbar{
            .souch{
                li{
                    background: white;
                }
            }
        }
    }
    .MyEmollient{
        background: #FBFBFB;
    }
    .Stylish{
        img{
            border: none;
        }
    }
    .welfare{
        width: 100%;
    }
    .text-abc{
        text-align: center;
    }
}
.ant-modal-content{
    .ant-modal-body{
        img{
            width: 100%;
        }
    }
    .ant-modal-close{
        .ant-modal-close-x{
            font-size: 30px;
            svg{
                color: white;
                position: absolute;
                top: 10rem;
                right: 4.5rem;
            }
            
        }
    }
    
}