.swiper-container{
    .swiper-wrapper{
        .swiper-slide{
            img{
                width: 100%;
                padding: 5px;
                height: auto;
            }
        }
    }
    .swiper-button-prev{
        background-size: 15px 20px;
        // background-color: white;
        // background: rgba(0, 0, 0, .5)
    }
    .swiper-button-next{
        background-size: 15px 20px;
        // background: rgba(0, 0, 0, .5)
    }
}
