.qcs-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: white;
    z-index: 10;
    .qcs-top{
        width: 100%;
        height: 50px;
        background: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #ccc;
        
        .haqian{
            color: #595959;
        }
        
        div{
            display: flex;
            width: 60%;
            background: white;
            align-items: center;
            flex-direction: row;
            border: 1px solid #ccc;
            border-radius: 20px;
            svg{
                padding-left: 5px;
            }
            input{
                border: none;
                border: none!important;
                box-shadow: none;
                border-radius: 20px;
                margin-left: 5px;
            }
        }
        svg{
            width: 26px;
            height: 26px;
            
        }
    }
    .qcs-menu{
    
        ul{
            display: flex; 
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            line-height: 50px;
            li{
                a{
                    color:#000; 
                    text-decoration: none; 
                    font-size: 0.4rem;
                
                }
                .active{
                    color:pink; 
                    border-bottom:3px solid pink;}
            }
        }
        
    }
    
}

   
.ant-drawer-content-wrapper{
    border: none;
    width: 100% !important;
    .meiziz{
        position: fixed;
        top: 5px;
        left: 0;
        right: 0;
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #ccc;
        .yangs{
            width: 80%;
            display: flex;
            border: 1px solid #ccc;
            border-radius: 20px;
            margin-left: 20px;
            padding: 0 5px;
            input{
                border: none;
                border: none!important;
                box-shadow: none;
                border-radius: 20px;
                margin-left: 5px;
            }
        }
        svg{
            margin-top: 5px;
            width: 22px;
            height: 22px;
        }
        button{
            height: 32px;
            width: 60px;
            border: none;
            background: white;
            outline: none;
        }
    }

}

.wode{
    width: 25px;
    height: 25px;
}
